.container{
	display:flex;
	justify-content:center;
	width:85%;
	height:45vh;
}
.container canvas{
	height:60vh !important;
	width:85%;
	margin-bottom:50px;
}
@media (max-width:770px){
	.container{
		width:100%;
	}
}